################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GZipTestTests/obj/Debug
/GZipTest/obj/Debug
/GZipTest/bin/Debug
/GZipTest.Console/bin/Debug
/GZipTest.Tests/bin/Debug
/GZipTest/bin/Release
/GZipTest/obj/Release
/GZipTest.Tests/obj
/GZipTest.Tests/bin/Release
*.exe
*.dll
*.gz
*.pdb
*.config
*.manifest
*.cache
*.txt
